[Unit]
Description=Unify-RSS HTTP Service
After=syslog.target network.target

[Service]
Type=simple
User=unify-rss
Group=unify-rss
WorkingDirectory=/home/unify-rss/development/gitproj/unify-rss
ExecStart=scala-cli run main
KillMode=control-group
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
RestartForceExitStatus=SIGPIPE
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=multi-user.target
