[Unit]
Description=Unify-RSS static (re)generation
After=syslog.target network.target

[Service]
Type=simple
User=unify-rss
Group=unify-rss
WorkingDirectory=/home/unify-rss/development/gitproj/unify-rss

# we set --server=false to avoid starting an additional, unnecessary
# "bloop" service, which is useful during development to reduce
# build times, but unnecessary for a deployed service.
ExecStart=scala-cli run --java-opt -Xmx1500m --server=false main

StandardError=journal
StandardOutput=journal
StandardInput=null


